
<main class="text-center">

    <h1 class="text-center">ChatApp</h1>

    <div class="d-flex flex-column align-items-center">
        <input class="w-25" type="text" name="" id="chatInput"/>
        <div id="inputError" class="form-text"></div>
    </div>
    <div id="chatbox" class="mt-4"></div>

</main>

<script src="/static/js/chatSocket.js"></script>